.main {
  width: 100%;
  height: 100%;
  position: static;
  overflow: auto;
  font-family: Tahoma, sans-serif;
}

.work_space {
  top: 50%;
  left: 50%;
  width: 1215px;
  height: 1104px;
  position: absolute;
  margin-top: -487px;
  margin-left: -607.5px;
}

.work_space img {
  position: inherit;
  z-index: -6;
}

/*Верхнее меню*/

.head_menu {
  width: 100%;
  height: 39px;
  position: absolute;
  float: left;
  background-color: rgb(7, 78, 140);
}

.head_menu table {
  padding-left: 590px;
}

.head_menu table td{
  float: left;
  padding: 7px 7px 9px 7px;
  list-style: none;
  color: #3c8ac4;
}

.head_menu span {
  border-left: #3c8ac4 1px solid;
}

.head_menu img {
  height: 18px;
}

.head_menu a {
  color: #3c8ac4;
}

.head_menu td:nth-child(1):hover {
  color: white;
  background:linear-gradient(to top, #1b5288, #449cd3);
}

.head_menu td:nth-child(2):hover {
  color: white;
  background:linear-gradient(to top, #1b5288, #449cd3);
}

.head_menu td:nth-child(3):hover {
  color: white;
  background:linear-gradient(to top, #1b5288, #449cd3);
}

.head_menu td:nth-child(4):hover {
  color: white;
  background:linear-gradient(to top, #1b5288, #449cd3);
}

.head_menu td:nth-child(5):hover {
  color: white;
  background:linear-gradient(to top, #1b5288, #449cd3);
}

.head_menu td:nth-child(8):hover {
  color: white;
  background:linear-gradient(to top, #1b5288, #449cd3);
}

.head_menu td:hover a {
  color: white;
}

/*Верхнее меню. Конец*/

/*Центральная форма регистрации*/

.centre_form {
  top: 448px;
  left: 653px;
  width: 562px;
  height: 616px;
  position: absolute;
  margin-top: -240px;
  margin-left: -308px;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.centre_form ul {
  padding: 5px 0px 5px 0px;
}

.centre_form li {
  margin-top: 20px;
  list-style: none;
}

.centre_form li input {
  padding: 7px;
}

.centre_form li input:hover, .centre_form li input:focus { /*Делаем подсветку выбранного поля*/
  /*color: white;*/
  background-color: #449cd3;
  box-shadow:
    0px 3px 10px 0px #689bcc,
    0px -3px 10px 0px #689bcc,
    3px 0px 10px 0px #689bcc,
    -3px 0px 10px 0px #689bcc;
}

.centre_form h2 {
  padding-bottom: 20px;
  border-bottom: white 1px solid;
  color: white;
}

.centre_form p {
  top: -5px;
  display: inline-block;
  margin: 0.05em;
  font-size: 14px;
  color: white;
}

.AllRights {
  font-size: 10px;
}

/*Приделываем полоску к OU в центральной форме регистрации*/

.centre_form span:before, .centre_form span:after {
  content: '';
  position: absolute;
  width: 100px;
  border-top: 1px solid white;
  margin-top: 0.5em;
}

.centre_form span:before {
  margin-left: 8.5%;
}

.centre_form span:after {
  margin-left: -26%;
}

/*Приделываем полоску к OU в центральной форме регистрации. Конец.*/
